<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nomor</th>
                        <th>Nama</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let index=0; index < category.length; index++ ) { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <%= category[index].name %>
                            </td>
                            <td>
                                <form action="/admin/category/<%= category[index].id %>?_method=DELETE" method="post">
                                    <input type="hidden" class="form-control" name="categoryId" placeholder="Enter name" value= "<%= category[index].id %>">
                                    <a href="javascript:void();" type="button"
                                        class="btn btn-warning btn-circle btn-sm button-update"
                                        data-id="<%= category[index].id %>" data-name="<%= category[index].name %>"><i
                                            class="fas fa-edit"></i></a>
                                    <button type="submit" class="btn btn-danger btn-circle btn-sm"><i
                                            class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>