<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
            <i class="fas fa-plus"></i>
        </button> -->
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Owner Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Pet name</th>
                        <th>Pet types</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Special Need</th>
                        <th>Payment Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let index=0; index < booking.length; index++ ) { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <%= booking[index]._doc.ownerName %>
                            </td>
                            <td>
                                <%= booking[index]._doc.phoneNumber %>
                            </td>
                            <td>
                                <%= booking[index]._doc.email %>
                            </td>
                            <td>
                                <%= booking[index]._doc.service %>
                            </td>
                            <td>
                                <%= booking[index]._doc.petName %>
                            </td>
                            <td>
                                <%= booking[index]._doc.petTypes %>
                            </td>
                            <td>
                                <%= booking[index].formattedStartTime %>
                            </td>
                            <td>
                                <%= booking[index].formattedEndTime %>
                            </td>
                            <td>
                                <%= booking[index]._doc.specialNeeds %>
                            </td>
                            <td>
                                <%= booking[index]._doc.paymentStatus %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>